.car__img {
  width: 100%;
  height: 280px; /*Ajustar el tamaño de la imagen*/
  object-fit: cover;
}

.car__item {
  border: 1px solid #7c8a9736;
  padding: 20px;
  border-radius: 5px;
  height: 100%;


  text-align: center; 
}

.car__item-info span i {
  color: #D2691E;
  font-size: 1.1rem;
}

.car__item-btn {
  border-radius: 0;
  border: none;
  outline: none;
  background: #000d6b;
  padding: 8px 0px;

  display: inline-block;
  
}

.car__item-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.car__item-btn a:hover {
  color: #fff;
}
.car__btn-details {
  background: #D2691E;
  border-radius: 0px 4px 4px 0px;
}

.car__btn-rent {
  border-radius: 4px;

  background-color: #000d6b; /* color inicial de fondo */
  color: #fff; /* color inicial del texto */
  padding: 10px 20px; /* ajusta el padding según sea necesario */
  border: none; /* elimina cualquier borde */
  cursor: pointer; /* cambia el cursor a pointer para indicar que es clickeable */
  transition: background-color 0.3s ease, transform 0.3s ease; /* añade una transición suave */
  
}
.car__btn-rent:hover {
  background-color: #000d6b; /* cambia el color de fondo en hover */
  transform: scale(1.05); /* aplica un pequeño zoom */
  color: #fff; /* mantiene el color del texto */
}


.car__item-content h4 {
  font-size: 1.8rem;
}

.car__item-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .car__item h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .car__item h6 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .car__item-info {
    flex-wrap: wrap;
  }

  .car__item-info span {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .car__item-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
   
  }
}

@media only screen and (max-width: 768px) {
  .car__item h4 {
    font-size: 1rem;
  }

  .car__item h6 {
    font-size: 0.9rem;
  }

  .car__item-info span {
    font-size: 0.7rem;
  }

  .car__item-info span i {
    font-size: 0.9rem;
  }

  .car__item-btn {
    font-size: 0.8rem;
   
  }
}
