
.profile-card {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.profile-card h3 {
    margin-bottom: 20px;
}

.profile-card .btn-primary {
    background-color: #D2691E;
    border: none;
}

.profile-card .btn-primary:hover {
    background-color: #a65216;
}
